workflow_whatsapp.json
{"updatedAt":"2026-04-18T16:08:50.788Z","createdAt":"2026-02-09T20:43:17.491Z","id":"opcRr4ghzhOj7uHS","name":"[MKTCOM] disparo-oficial","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,176],"id":"4ff2049c-70e9-4ae9-9be3-7384b13ab0c2","name":"When clicking ‘Execute workflow’"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-176,-192],"id":"3d4169f6-74f8-4664-a170-0c9be7c81319","name":"WhatsApp Trigger","webhookId":"d101dc03-8802-402f-8639-1771c7226e0d","credentials":{"whatsAppTriggerApi":{"id":"QBy0v1GZcHbJEpLU","name":"Trigger Whatsapp Marketing"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/950546414815263/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Loop Over Items').item.json.DDD1 }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"clube_ale\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,208],"id":"e4e1ac2b-ab94-4189-914c-70201dcf2f69","name":"HTTP Request","credentials":{"whatsAppApi":{"id":"kNfW4MC2xJaFa6n0","name":"Whatsapp Marketing"}}},{"parameters":{"operation":"getAll","tableId":"vm_telefones","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"is","keyValue":"TRUE"},{"keyName":"qualificados","condition":"eq","keyValue":"Qualificado"},{"keyName":"disparo","condition":"is","keyValue":"null"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,32],"id":"01a1a17d-394a-4f6c-a07b-f3dddd4d800f","name":"Get many rows","credentials":{"supabaseApi":{"id":"E124roxIkDjglv24","name":"Supabase - [Com&Mkt]"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,176],"id":"85be0408-2d65-4d39-90d6-edc4d56a5143","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,208],"id":"aa9133fd-bba5-4cd6-b0c3-b73c724e5bbf","name":"Wait","webhookId":"5c935a87-c75f-40cb-bf8a-4320d80e6c57"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"96127af2-0b2d-401f-8efd-4560fc6e150e","leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[16,-192],"id":"3d65991f-e77b-4142-8196-d2e5ff84c709","name":"If"},{"parameters":{"tableId":"aux_resposta","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $json.contacts[0].wa_id }}"},{"fieldId":"resposta","fieldValue":"={{ $json.messages[0].text.body }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-368],"id":"3f2cdd11-48fa-4d35-ae56-4baf3ab58e19","name":"Create a row","credentials":{"supabaseApi":{"id":"E124roxIkDjglv24","name":"Supabase - [Com&Mkt]"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a52ade28-82cc-45ee-bf85-df289236fb0d","leftValue":"={{ $json.messages[0].button.payload }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,-80],"id":"a00682e8-8d3d-4ac6-bce6-928cb7c869e7","name":"If1"},{"parameters":{"tableId":"aux_resposta","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $json.contacts[0].wa_id }}"},{"fieldId":"resposta","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-224],"id":"b8e0bba5-a19d-4b7b-95b9-da7da3b5ed30","name":"Create a row1","credentials":{"supabaseApi":{"id":"E124roxIkDjglv24","name":"Supabase - [Com&Mkt]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.statuses[0].status }}","rightValue":"read","operator":{"type":"string","operation":"equals"},"id":"0768c958-74c9-4986-ad18-c3263788afed"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b1b7a14e-fdf0-407c-bee1-49906a7d075f","leftValue":"={{ $json.statuses[0].status }}","rightValue":"delivered","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"23a5c574-7c30-4e62-98dc-17e2b1a86195","leftValue":"={{ $json.statuses[0].status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[656,16],"id":"ec535b9d-d3e8-4179-9040-d4bbe1b931cc","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"columns":{"mappingMode":"defineBelow","value":{"DDD1":"={{ $json.statuses[0].recipient_id }}","leu":"Sim"},"matchingColumns":["DDD1"],"schema":[{"id":"DDD1","displayName":"DDD1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recebeu","displayName":"recebeu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leu","displayName":"leu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,-64],"id":"43039faf-0801-4aef-91a7-0efaf0b7080f","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"columns":{"mappingMode":"defineBelow","value":{"DDD1":"={{ $json.statuses[0].recipient_id }}","recebeu":"Sim"},"matchingColumns":["DDD1"],"schema":[{"id":"DDD1","displayName":"DDD1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recebeu","displayName":"recebeu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leu","displayName":"leu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1248,-48],"id":"72005382-ac98-4508-9ba3-e22017d2783a","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"filtersUI":{"values":[{"lookupColumn":"recebeu"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,176],"id":"3e0721d8-c9c8-4d2a-8c42-3fc69d496101","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"columns":{"mappingMode":"defineBelow","value":{"DDD1":"={{ $json.statuses[0].recipient_id }}","recebeu":"Falha"},"matchingColumns":["DDD1"],"schema":[{"id":"DDD1","displayName":"DDD1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recebeu","displayName":"recebeu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leu","displayName":"leu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1360,48],"id":"4d130d98-aed9-4d35-a62c-a4bf08a5d11f","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get many rows":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a row1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Append or update row in sheet1","type":"main","index":0}],[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"WhatsApp Trigger":[{"json":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"553391218399","phone_number_id":"950546414815263"},"contacts":[{"wa_id":"554799919522","user_id":"BR.2020923955305028"}],"statuses":[{"id":"wamid.HBgMNTU0Nzk5OTE5NTIyFQIAERgSRDc2MTk3RDMyOUIzNjgwNjBCAA==","status":"delivered","timestamp":"1776450540","recipient_id":"554799919522","recipient_user_id":"BR.2020923955305028","pricing":{"billable":true,"pricing_model":"PMP","category":"marketing","type":"regular"}}],"field":"messages"},"pairedItem":{"item":0}}]},"versionId":"89fabf0f-a003-44e6-af47-1e4a76b433ee","activeVersionId":"89fabf0f-a003-44e6-af47-1e4a76b433ee","versionCounter":123,"triggerCount":1,"shared":[{"updatedAt":"2026-02-09T20:43:17.494Z","createdAt":"2026-02-09T20:43:17.494Z","role":"workflow:owner","workflowId":"opcRr4ghzhOj7uHS","projectId":"yn1hwFp0ytn5P05T","project":{"updatedAt":"2024-07-11T15:39:08.502Z","createdAt":"2024-07-11T15:39:08.502Z","id":"yn1hwFp0ytn5P05T","name":"System Clubpetro <system@clubpetro.com.br>","type":"personal","icon":null,"description":null,"creatorId":"6850dd2c-ccfd-446d-a53a-687aaff24f8b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T18:30:26.000Z","createdAt":"2026-04-17T18:30:20.994Z","versionId":"89fabf0f-a003-44e6-af47-1e4a76b433ee","workflowId":"opcRr4ghzhOj7uHS","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,176],"id":"4ff2049c-70e9-4ae9-9be3-7384b13ab0c2","name":"When clicking ‘Execute workflow’"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-176,-192],"id":"3d4169f6-74f8-4664-a170-0c9be7c81319","name":"WhatsApp Trigger","webhookId":"d101dc03-8802-402f-8639-1771c7226e0d","credentials":{"whatsAppTriggerApi":{"id":"QBy0v1GZcHbJEpLU","name":"Trigger Whatsapp Marketing"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/950546414815263/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Loop Over Items').item.json.DDD1 }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"clube_ale\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,208],"id":"e4e1ac2b-ab94-4189-914c-70201dcf2f69","name":"HTTP Request","credentials":{"whatsAppApi":{"id":"kNfW4MC2xJaFa6n0","name":"Whatsapp Marketing"}}},{"parameters":{"operation":"getAll","tableId":"vm_telefones","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"is","keyValue":"TRUE"},{"keyName":"qualificados","condition":"eq","keyValue":"Qualificado"},{"keyName":"disparo","condition":"is","keyValue":"null"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,32],"id":"01a1a17d-394a-4f6c-a07b-f3dddd4d800f","name":"Get many rows","credentials":{"supabaseApi":{"id":"E124roxIkDjglv24","name":"Supabase - [Com&Mkt]"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,176],"id":"85be0408-2d65-4d39-90d6-edc4d56a5143","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,208],"id":"aa9133fd-bba5-4cd6-b0c3-b73c724e5bbf","name":"Wait","webhookId":"5c935a87-c75f-40cb-bf8a-4320d80e6c57"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"96127af2-0b2d-401f-8efd-4560fc6e150e","leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[16,-192],"id":"3d65991f-e77b-4142-8196-d2e5ff84c709","name":"If"},{"parameters":{"tableId":"aux_resposta","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $json.contacts[0].wa_id }}"},{"fieldId":"resposta","fieldValue":"={{ $json.messages[0].text.body }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-368],"id":"3f2cdd11-48fa-4d35-ae56-4baf3ab58e19","name":"Create a row","credentials":{"supabaseApi":{"id":"E124roxIkDjglv24","name":"Supabase - [Com&Mkt]"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a52ade28-82cc-45ee-bf85-df289236fb0d","leftValue":"={{ $json.messages[0].button.payload }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,-80],"id":"a00682e8-8d3d-4ac6-bce6-928cb7c869e7","name":"If1"},{"parameters":{"tableId":"aux_resposta","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $json.contacts[0].wa_id }}"},{"fieldId":"resposta","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-224],"id":"b8e0bba5-a19d-4b7b-95b9-da7da3b5ed30","name":"Create a row1","credentials":{"supabaseApi":{"id":"E124roxIkDjglv24","name":"Supabase - [Com&Mkt]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.statuses[0].status }}","rightValue":"read","operator":{"type":"string","operation":"equals"},"id":"0768c958-74c9-4986-ad18-c3263788afed"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b1b7a14e-fdf0-407c-bee1-49906a7d075f","leftValue":"={{ $json.statuses[0].status }}","rightValue":"delivered","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"23a5c574-7c30-4e62-98dc-17e2b1a86195","leftValue":"={{ $json.statuses[0].status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[656,16],"id":"ec535b9d-d3e8-4179-9040-d4bbe1b931cc","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"columns":{"mappingMode":"defineBelow","value":{"DDD1":"={{ $json.statuses[0].recipient_id }}","leu":"Sim"},"matchingColumns":["DDD1"],"schema":[{"id":"DDD1","displayName":"DDD1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recebeu","displayName":"recebeu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leu","displayName":"leu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,-64],"id":"43039faf-0801-4aef-91a7-0efaf0b7080f","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"columns":{"mappingMode":"defineBelow","value":{"DDD1":"={{ $json.statuses[0].recipient_id }}","recebeu":"Sim"},"matchingColumns":["DDD1"],"schema":[{"id":"DDD1","displayName":"DDD1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recebeu","displayName":"recebeu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leu","displayName":"leu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1248,-48],"id":"72005382-ac98-4508-9ba3-e22017d2783a","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"filtersUI":{"values":[{"lookupColumn":"recebeu"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,176],"id":"3e0721d8-c9c8-4d2a-8c42-3fc69d496101","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit?gid=436918865#gid=436918865","mode":"url"},"sheetName":{"__rl":true,"value":436918865,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YnY34pwQwXYvCcD1rN-OSX4SjGdr7QsdC38B6J6ll0k/edit#gid=436918865"},"columns":{"mappingMode":"defineBelow","value":{"DDD1":"={{ $json.statuses[0].recipient_id }}","recebeu":"Falha"},"matchingColumns":["DDD1"],"schema":[{"id":"DDD1","displayName":"DDD1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recebeu","displayName":"recebeu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leu","displayName":"leu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1360,48],"id":"4d130d98-aed9-4d35-a62c-a4bf08a5d11f","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"OL50dab7dT1eN5gq","name":"sheets_andre"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get many rows":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a row1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Append or update row in sheet1","type":"main","index":0}],[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"System Clubpetro","name":"Version 89fabf0f","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-17T18:30:26.735Z","id":798,"workflowId":"opcRr4ghzhOj7uHS","versionId":"89fabf0f-a003-44e6-af47-1e4a76b433ee","event":"activated","userId":"6850dd2c-ccfd-446d-a53a-687aaff24f8b"}]}}